@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-light: theme("colors.gray.100");
  --background-dark: theme("colors.gray.900");
  --foreground-light: theme("colors.gray.100");
  --foreground-dark: theme("colors.gray.900");
}

:root {
  --background: var(--background-light);
  --foreground: var(--foreground-dark);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--background-dark);
    --foreground: var(--foreground-light);
  }
}
